---
# jenkins Setting 부분은 차후 진행
- hosts: controller
  vars_files:
    - docker/vars.yml
    - jenkins/vars.yml
    - nginx/vars.yml
#    - jenkins/setting/vars.yml
    # secret files
    - nginx/secrets.yml
#    - jenkins/setting/secrets.yml

  tasks:
    - import_tasks: docker/tasks.yml
    - import_tasks: jenkins/tasks.yml
    - import_tasks: nginx/tasks.yml
#    - import_tasks: jenkins/setting/tasks.yml
