<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>true</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
        <removeLastBuild>false</removeLastBuild>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <org.jenkinsci.plugins.gwt.GenericTrigger plugin="generic-webhook-trigger@2.4.1">
          <spec></spec>
          <genericVariables>
            <org.jenkinsci.plugins.gwt.GenericVariable>
              <expressionType>JSONPath</expressionType>
              <key>change_obj</key>
              <value>$.change</value>
              <regexpFilter></regexpFilter>
              <defaultValue></defaultValue>
            </org.jenkinsci.plugins.gwt.GenericVariable>
            <org.jenkinsci.plugins.gwt.GenericVariable>
              <expressionType>JSONPath</expressionType>
              <key>patchSet_obj</key>
              <value>$.patchSet</value>
              <regexpFilter></regexpFilter>
              <defaultValue></defaultValue>
            </org.jenkinsci.plugins.gwt.GenericVariable>
            <org.jenkinsci.plugins.gwt.GenericVariable>
              <expressionType>JSONPath</expressionType>
              <key>submitter_obj</key>
              <value>$.submitter</value>
              <regexpFilter></regexpFilter>
              <defaultValue></defaultValue>
            </org.jenkinsci.plugins.gwt.GenericVariable>
            <org.jenkinsci.plugins.gwt.GenericVariable>
              <expressionType>JSONPath</expressionType>
              <key>newRev_obj</key>
              <value>$.newRev</value>
              <regexpFilter></regexpFilter>
              <defaultValue></defaultValue>
            </org.jenkinsci.plugins.gwt.GenericVariable>
          </genericVariables>
          <regexpFilterText>$change_obj_branch</regexpFilterText>
          <regexpFilterExpression>^test$</regexpFilterExpression>
          <printPostContent>true</printPostContent>
          <printContributedVariables>true</printContributedVariables>
          <causeString>Generic Cause</causeString>
          <token></token>
          <tokenCredentialId>bhevs_renault_gen3_500</tokenCredentialId>
          <silentResponse>false</silentResponse>
          <overrideQuietPeriod>false</overrideQuietPeriod>
          <shouldNotFlattern>false</shouldNotFlattern>
          <allowSeveralTriggersPerBuild>false</allowSeveralTriggersPerBuild>
        </org.jenkinsci.plugins.gwt.GenericTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4218.vff679a_5c0f3a_">
    <script>@Library(&apos;bhevs-shared-library&apos;) _

pipeline {
    agent { label &apos;windows-server-agent&apos; }

    environment {
        GIT_CREDENTIALS_ID = &apos;teamforge-choiseu&apos;
        BUILD_OUTPUT_PATH = &apos;renault_gen3_appl/Renault_Gen3/Appl/MakeBin&apos;
        GIT_BASE_URL = &apos;https://teamforge.bhevs.co.kr/gerrit&apos;
        NEXUS_HOST_PORT = &quot;192.168.37.239:32511&quot;
        NEXUS_REPO_ID = &quot;Renault&quot;
        NEXUS_CREDENTIALS_ID = &quot;nexus-id&quot;
    }

    stages {
        stage(&apos;3. Deploy to Nexus&apos;) {
            steps {
                script {
                    def VERSION = currentBuild.displayName.replace(&apos;#&apos;, &apos;-&apos;)
                    echo &quot;VERSION: ${VERSION}&quot;

                    def deployFiles = [
                        &apos;Renault_Gen3.pdx&apos;                   : &quot;release/${VERSION}/Renault_Gen3.pdx&quot;,
                        &apos;Renault_Gen3_OneBin.hex&apos;            : &quot;release/${VERSION}/Renault_Gen3_OneBin.hex&quot;,
                        &apos;Renault_Gen3_Appl_Encrypted.bin&apos;    : &quot;release/${VERSION}/Renault_Gen3_Appl_Encrypted.bin&quot;
                    ]

                    withCredentials([usernamePassword(credentialsId: env.NEXUS_CREDENTIALS_ID, passwordVariable: &apos;NEXUS_PWD&apos;, usernameVariable: &apos;NEXUS_USER&apos;)]) {
                        deployFiles.each { fileName, targetPath -&gt;
                            def sourceFile = &quot;${env.BUILD_OUTPUT_PATH}/${fileName}&quot;
                            def nexusUrl = &quot;http://${env.NEXUS_HOST_PORT}/repository/${env.NEXUS_REPO_ID}/${targetPath}&quot;
                            echo &quot;Deploying ${fileName} to: ${nexusUrl}&quot;
                            powershell &quot;&quot;&quot;
                                \$securePassword = ConvertTo-SecureString -String &quot;\$env:NEXUS_PWD&quot; -AsPlainText -Force
                                \$credential = New-Object System.Management.Automation.PSCredential (&quot;\$env:NEXUS_USER&quot;, \$securePassword)
                                Invoke-RestMethod -Uri &quot;${nexusUrl}&quot; `
                                    -Method PUT `
                                    -InFile &quot;${sourceFile}&quot; `
                                    -Credential \$credential
                            &quot;&quot;&quot;
                        }
                    }
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>