### 1. Secrets & Environment
*.env

### 2. Terraform ###
# 테라폼 엔진 및 임시 파일
**/.terraform/*
.terraform/
*planfile*

# 상태 파일
*.tfstate
*.tfstate.*

# 충돌 로그
crash.log
crash.*.log

# 변수 입력 파일
*.tfvars
*.tfvars.json
*.auto.tfvars

# 설정 오버라이드
override.tf
override.tf.json
*_override.tf
*_override.tf.json


### 3. Ansible ###
*.retry
.ansible/

# Ansible Vault
.vault_pass_secrets

### 4. IDE & Editor ###
# IntelliJ
.idea/

# VS Code
.vscode/
*.vsix
.history/

# General Editor Temp Files
*~

### 5. OS & System ###
.DS_Store
Thumbs.db
.directory
.Trash-*


### 6. Git & Merge ###
*.orig
*.BACKUP.*
*.BASE.*
*.REMOTE.*


### 7. PowerShell & Binaries ###
*.zip
*.dll


### 8. Custom (사용자 지정) ###
change_remote.sh
memo.md