<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    <scope>GLOBAL</scope>
    <id>smtp-credentials</id>
    <description>SMTP Mail Server Credentials</description>
    <username>{{ email_id }}</username>
    <password>{{ email_pw }}</password>
    <usernameSecret>false</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>