<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    <scope>GLOBAL</scope>
    <id>teamforge-choiseu</id>
    <description>Teamforge</description>
    <username>{{ teamforge_id }}</username>
    <password>{{ teamforge_pw }}</password>
    <usernameSecret>false</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>