<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    <scope>GLOBAL</scope>
    <id>sign-script-credentials</id>
    <description>injun.Cha-kms key signing</description>
    <username>{{ fescaro_id }}</username>
    <password>{{ fescaro_pw }}</password>
    <usernameSecret>false</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>