<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    <scope>GLOBAL</scope>
    <id>windows-server-agnet</id>
    <description>windows server</description>
    <username>{{ windows_server_id }}</username>
    <password>{{ windows_server_pw }}</password>
    <usernameSecret>false</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>