<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@199.v9f8e1f741799">
    <scope>GLOBAL</scope>
    <id>bhevs_renault_gen3_100</id>
    <description>bhevs_renault_gen3_100_webhook</description>
    <secret>{{ bhevs_renault_gen3_100 }}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>