<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@199.v9f8e1f741799">
    <scope>{{ scope | default('GLOBAL') }}</scope>
    <id>{{ cred_id }}</id>
    <description>{{ cred_description }}</description>
    <secret>{{ cred_secret }}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>