<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
    <scope>{{ scope | default('GLOBAL') }}</scope>
    <id>{{ cred_id }}</id>
    <description>{{ cred_description }}</description>
    <username>{{ cred_username }}</username>
    <password>{{ cred_password }}</password>
    <usernameSecret>{{ username_secret | default('false') }}</usernameSecret>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>