// Fetches and prints all existing roles
import jenkins.model.*
import com.michelin.cio.hudson.plugins.rolestrategy.*

def jenkins = Jenkins.instance
def strategy = jenkins.getAuthorizationStrategy()

strategy.getRoleMap("GLOBAL").getRoles().each { role ->
  println "GLOBAL:${role.getName()}"
}
strategy.getRoleMap("PROJECT").getRoles().each { role ->
  println "PROJECT:${role.getName()}"
}