# templates/nginx.conf.j2
events {}
http {
    server {
        listen 80;
        server_name {{ jenkins_domain }};
        return 301 https://$host$request_uri;
    }

    server {
        listen {{ nexus_host_port }};
        client_max_body_size 1G;

        location / {
            proxy_pass http://{{ nexus_container_name }}:{{ nexus_internal_port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        listen 443 ssl;
        server_name {{ jenkins_domain }};
        ssl_certificate {{ certs_remote_dir }}/jenkins.crt;
        ssl_certificate_key {{ certs_remote_dir }}/jenkins.key;
        location / {
            proxy_pass http://{{ jenkins_container_name }}:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }

    server {
        listen 8081;
        server_name {{ jenkins_domain }};

        location / {
            proxy_pass http://{{ jenkins_container_name }}:8080;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto 'http';
        }
    }
}