# jenkins/setting/tasks.yml
---
- name: CLI | Define Jenkins CLI server URL and path
  ansible.builtin.set_fact:
    jenkins_host: "{{ jenkins_url | urlsplit('hostname') }}"
    cli_jar_path: "{{ jenkins_temp_dir }}/{{ jenkins_cli_jar_file }}"
  tags:
    - jenkins_cli
    - always

- name: CLI | Download jenkins-cli.jar to local
  ansible.builtin.get_url:
    url: "http://{{ jenkins_host }}/jnlpJars/{{ jenkins_cli_jar_file }}"
    dest: "{{ cli_jar_path }}"
    validate_certs: false
    mode: '0755'
  tags:
    - jenkins_cli
    - always

- name: PLUGINS | Install Jenkins plugins from list (run from local)
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      install-plugin {{ item }}
  loop: "{{ jenkins_plugins_list }}"
  register: plugin_install_result
  changed_when: "'is already installed' not in plugin_install_result.stdout and 'Failed' not in plugin_install_result.stderr"
  failed_when: "'Failed' in plugin_install_result.stderr"
  notify: "Restart Jenkins"
  when: jenkins_plugins_list is defined and jenkins_plugins_list | length > 0
  tags:
    - jenkins_plugins

- name: CREDENTIALS | Create temporary XML files from templates (injecting Vault secrets)
  ansible.builtin.template:
    src: "templates/credentials/{{ item.type }}/{{ item.id }}.xml.j2"
    dest: "{{ jenkins_temp_dir }}/{{ item.id }}.xml"
    mode: '0600'
  loop: "{{ credential_definitions }}"
  tags:
    - jenkins_credentials

- name: CREDENTIALS | Register credentials on Jenkins via CLI (run from local)
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      create-credentials-by-xml "{{ jenkins_credential_store }}" {{ jenkins_credential_domain }} \
      < {{ jenkins_temp_dir }}/{{ item.id }}.xml
  loop: "{{ credential_definitions }}"
  no_log: true
  register: create_result
  failed_when: >
    create_result.rc != 0 and
    'already exists' not in create_result.stderr and
    'No change' not in create_result.stderr
  changed_when: >
    'already exists' not in create_result.stderr and
    'No change' not in create_result.stderr
  tags:
    - jenkins_credentials

- name: CREDENTIALS | Remove temporary XML files from local (WSL)
  ansible.builtin.file:
    path: "{{ jenkins_temp_dir }}/{{ item.id }}.xml"
    state: absent
  loop: "{{ credential_definitions }}"
  tags:
    - jenkins_credentials

- name: FOLDERS | Create temporary Folder XML files from templates
  ansible.builtin.template:
    src: "{{ jenkins_folder_template }}"
    dest: "{{ jenkins_temp_dir }}/folder_{{ item.name }}.xml"
    mode: '0600'
  vars:
    folder_description: "{{ item.description }}"
  loop: "{{ jenkins_folder_definitions }}"
  tags:
    - jenkins_folders

- name: FOLDERS | Create Folders on Jenkins via CLI
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      create-job "{{ item.name }}" \
      < {{ jenkins_temp_dir }}/folder_{{ item.name }}.xml
  loop: "{{ jenkins_folder_definitions }}"
  no_log: true
  register: folder_create_result
  failed_when: >
    folder_create_result.rc != 0 and
    'already exists' not in folder_create_result.stderr and
    'No change' not in folder_create_result.stderr
  changed_when: >
    'already exists' not in folder_create_result.stderr and
    'No change' not in folder_create_result.stderr
  tags:
    - jenkins_folders

- name: FOLDERS | Remove temporary Folder XML files
  ansible.builtin.file:
    path: "{{ jenkins_temp_dir }}/folder_{{ item.name }}.xml"
    state: absent
  loop: "{{ jenkins_folder_definitions }}"
  tags:
    - jenkins_folders