# jenkins/setting/tasks.yml
---
# --- Cli ---
- name: CLI | Define Jenkins CLI server URL and path
  ansible.builtin.set_fact:
    jenkins_host: "{{ jenkins_url | urlsplit('hostname') }}"
    cli_jar_path: "{{ jenkins_temp_dir }}/{{ jenkins_cli_jar_file }}"
  tags:
    - jenkins_cli
    - always

- name: CLI | Download jenkins-cli.jar to local
  ansible.builtin.get_url:
    url: "http://{{ jenkins_host }}/jnlpJars/{{ jenkins_cli_jar_file }}"
    dest: "{{ cli_jar_path }}"
    validate_certs: false
    mode: '0755'
  tags:
    - jenkins_cli
    - always

# --- Plugins ---
- name: PLUGINS | Install Jenkins plugins from list (run from local)
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      install-plugin {{ item }}
  loop: "{{ jenkins_plugins_list }}"
  register: plugin_install_result
  changed_when: "'is already installed' not in plugin_install_result.stdout and 'Failed' not in plugin_install_result.stderr"
  failed_when: "'Failed' in plugin_install_result.stderr"
  notify: "Restart Jenkins"
  when: jenkins_plugins_list is defined and jenkins_plugins_list | length > 0
  tags:
    - jenkins_plugins

# --- Credentials ---
- name: CREDENTIALS | Create temporary XML files from templates (injecting Vault secrets)
  ansible.builtin.template:
    src: "templates/credentials/{{ item.type }}.xml.j2"
    dest: "{{ jenkins_temp_dir }}/{{ item.id }}.xml"
    mode: '0600'
  loop: "{{ credential_definitions }}"
  vars:
    cred_id: "{{ item.id }}"
    cred_description: "{{ item.cred_description | default('') }}"
    cred_username: "{{ item.cred_username | default('') }}"
    cred_password: "{{ item.cred_password | default('') }}"
    cred_secret: "{{ item.cred_secret | default('') }}"
  tags:
    - jenkins_credentials

- name: CREDENTIALS | Register credentials on Jenkins via CLI (run from local)
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      create-credentials-by-xml "{{ jenkins_credential_store }}" {{ jenkins_credential_domain }} \
      < {{ jenkins_temp_dir }}/{{ item.id }}.xml
  loop: "{{ credential_definitions }}"
#  no_log: true
  register: create_result
  failed_when: >
    create_result.rc != 0 and
    'already exists' not in create_result.stderr and
    'No change' not in create_result.stderr
  changed_when: >
    'already exists' not in create_result.stderr and
    'No change' not in create_result.stderr
  tags:
    - jenkins_credentials

- name: CREDENTIALS | Remove temporary XML files from local (WSL)
  ansible.builtin.file:
    path: "{{ jenkins_temp_dir }}/{{ item.id }}.xml"
    state: absent
  loop: "{{ credential_definitions }}"
  tags:
    - jenkins_credentials

# --- Items - Folder ---
- name: FOLDER | Create temporary Folder XML files from templates
  ansible.builtin.template:
    src: "{{ jenkins_folder_template }}"
    dest: "{{ jenkins_temp_dir }}/folder_{{ item.name }}.xml"
    mode: '0600'
  vars:
    folder_description: "{{ item.description }}"
  loop: "{{ jenkins_folder_definitions }}"
  tags:
    - jenkins_folders

- name: FOLDER | Create Folders on Jenkins via CLI
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      create-job "{{ item.name }}" \
      < {{ jenkins_temp_dir }}/folder_{{ item.name }}.xml
  loop: "{{ jenkins_folder_definitions }}"
  no_log: true
  register: folder_create_result
  failed_when: >
    folder_create_result.rc != 0 and
    'already exists' not in folder_create_result.stderr and
    'No change' not in folder_create_result.stderr
  changed_when: >
    'already exists' not in folder_create_result.stderr and
    'No change' not in folder_create_result.stderr
  tags:
    - jenkins_folders

- name: FOLDER | Remove temporary Folder XML files
  ansible.builtin.file:
    path: "{{ jenkins_temp_dir }}/folder_{{ item.name }}.xml"
    state: absent
  loop: "{{ jenkins_folder_definitions }}"
  tags:
    - jenkins_folders

# --- Items - Pipeline ---
- name: PIPELINE | Create temporary Job XML files from templates
  ansible.builtin.template:
    src: "{{ jenkins_job_template }}"
    dest: "{{ jenkins_temp_dir }}/job_{{ item.folder }}_{{ item.name }}.xml"
    mode: '0600'
  vars:
    job_description: "{{ item.description }}"
    job_log_rotator: "{{ item.log_rotator | default({}) }}"
    job_webhook_token_id: "{{ item.webhook_token_id }}"
    job_webhook_branch_regex: "{{ item.webhook_branch_regex }}"
    job_scm_repo_url: "{{ pipeline_scm_repo_url }}"
    job_scm_credentials_id: "{{ pipeline_scm_credentials_id }}"
    job_scm_branch: "{{ pipeline_scm_branch }}"
    job_script_path_in_repo: "{{ item.path_in_repo }}"
  loop: "{{ jenkins_job_definitions }}"
  tags:
    - jenkins_pipeline

- name: PIPELINE | Create Jobs on Jenkins via CLI (inside Folders)
  ansible.builtin.shell: |
    JENKINS_CLI_TRANSPORT=http \
    java -jar {{ cli_jar_path }} \
      -s http://{{ jenkins_host }}/ \
      -auth {{ jenkins_admin_user }}:{{ jenkins_admin_api_token }} \
      -noCertificateCheck \
      create-job "{{ item.folder }}/{{ item.name }}" \
      < {{ jenkins_temp_dir }}/job_{{ item.folder }}_{{ item.name }}.xml
  loop: "{{ jenkins_job_definitions }}"
  no_log: true
  register: job_create_result
  failed_when: >
    job_create_result.rc != 0 and
    'already exists' not in job_create_result.stderr and
    'No change' not in job_create_result.stderr
  changed_when: >
    'already exists' not in job_create_result.stderr and
    'No change' not in job_create_result.stderr
  tags:
    - jenkins_pipeline

- name: PIPELINE | Remove temporary Job XML files
  ansible.builtin.file:
    path: "{{ jenkins_temp_dir }}/job_{{ item.folder }}_{{ item.name }}.xml"
    state: absent
  loop: "{{ jenkins_job_definitions }}"
  tags:
    - jenkins_pipeline