# jenkins/setting/vars.yml
---
# Jenkins 서버 정보
jenkins_url: "https://192.168.37.239"
jenkins_temp_dir: "/tmp"
jenkins_cli_jar_file: "jenkins-cli.jar"
jenkins_credential_store: "system::system::jenkins"
jenkins_credential_domain: "_"

# pipeline 정보
pipeline_scm_repo_url: "https://github.com/bhevs-dev/jenkins.git"
pipeline_scm_credentials_id: "github-credentials"
pipeline_scm_branch: "*/main"

# TeamForge 정보
teamforge_base_url: "https://teamforge.bhevs.co.kr/gerrit"
teamforge_credentials_id: "teamforge-choiseu"




# 플러그인 설치
jenkins_plugins_list:
  - role-strategy
  - generic-webhook-trigger
  - ssh-slaves
  - git-server
  - active-directory
  - uno-choice

# System - Global Properties
jenkins_global_properties:
  - key: 'GLOBAL_NAS_ROOT_PATH'
    value: '\\192.168.36.31\제품개발본부\### Jenkins ###'

# System - Global Pipeline Libraries
jenkins_global_libraries:
  - name: "bhevs-shared-library"
    default_version: "main"
    implicit: false
    allow_version_override: true
    include_in_changesets: true
    repo_url: "https://github.com/bhevs-dev/jenkins.git"
    credentials_id: "github-credentials"
    library_path: "shared-library/"


# 인증서
credential_definitions:
  # secretText Types
  - id: "bhevs_renault_gen3_100"
    type: "secretText"
    cred_description: "Renault 100 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_100 }}"
  - id: "bhevs_renault_gen3_400"
    type: "secretText"
    cred_description: "Renault 400 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_400 }}"
  - id: "bhevs_renault_gen3_500"
    type: "secretText"
    cred_description: "Renault 500 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_500 }}"

  # userPw Types
  - id: "fescaro_kms"
    type: "userPw"
    cred_description: "Fescaro KMS 계정"
    cred_username: "{{ fescaro_id }}"
    cred_password: "{{ fescaro_pw }}"
  - id: "github-credentials"
    type: "userPw"
    cred_description: "GitHub 계정"
    cred_username: "{{ github_id }}"
    cred_password: "{{ github_pw }}"
  - id: "smtp-credentials"
    type: "userPw"
    cred_description: "SMTP 메일 계정"
    cred_username: "{{ email_id }}"
    cred_password: "{{ email_pw }}"
  - id: "teamforge-choiseu"
    type: "userPw"
    cred_description: "TeamForge 계정"
    cred_username: "{{ teamforge_id }}"
    cred_password: "{{ teamforge_pw }}"
  - id: "Jenkins-Agent-Server"
    type: "userPw"
    cred_description: "Agent Server 계정"
    cred_username: "{{ agent_server_id }}"
    cred_password: "{{ agent_server_pw }}"
  - id: "nas-credentials"
    type: "userPw"
    cred_description: "NAS 접근 계정"
    cred_username: "{{ nas_id }}"
    cred_password: "{{ nas_pw }}"





# 젠킨스 아이템 - 폴더
jenkins_folder_template: "templates/items/folder.xml.j2"
jenkins_folder_definitions:
  - { name: "test", description: "test Project Folder" }
  - { name: "RENAULT", description: "RENAULT Project Folder" }
  - { name: "RENAULT/GEN3", description: "RENAULT GEN3 Project Folder" }





# 젠킨스 아이템 - 작업(파이프라인)
jenkins_job_template: "templates/items/pipeline.xml.j2"
jenkins_job_definitions:
  # 'test' 폴더 내부 작업들
  - name: "100-test"
    folder: "test"
    description: "test Pipeline"
    log_rotator: { days_to_keep: 10, num_to_keep: 10 }
    webhook_token_id: "bhevs_renault_gen3_100"
    webhook_branch_regex: "^refs/head/test.*$"
    path_in_repo: ""
    branch_parameters:
      - name: "renault_gen3_fbl"
        description: "renault_gen3_fbl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_odc_appl"
        description: "renault_gen3_odc_appl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_common"
        description: "renault_gen3_platform_common Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc"
        description: "renault_gen3_platform_wlc Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc_inc"
        description: "renault_gen3_platform_wlc_inc Repository에서 빌드할 브랜치를 선택하세요."

  - name: "400-test"
    folder: "test"
    description: "test Pipeline"
    log_rotator: { days_to_keep: 10, num_to_keep: 10 }
    webhook_token_id: "bhevs_renault_gen3_400"
    webhook_branch_regex: "^refs/head/test.*$"
    path_in_repo: ""
    branch_parameters:
      - name: "renault_gen3_odc_appl"
        description: "renault_gen3_odc_appl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_common"
        description: "renault_gen3_platform_common Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc"
        description: "renault_gen3_platform_wlc Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc_inc"
        description: "renault_gen3_platform_wlc_inc Repository에서 빌드할 브랜치를 선택하세요."

  - name: "500-test"
    folder: "test"
    description: "test Pipeline"
    log_rotator: { days_to_keep: 10, num_to_keep: 10 }
    webhook_token_id: "bhevs_renault_gen3_500"
    webhook_branch_regex: "^refs/head/test.*$"
    path_in_repo: ""
    branch_parameters:
      - name: "renault_gen3_appl"
        description: "renault_gen3_appl Repository에서 빌드할 브랜치를 선택하세요."

  # 'RENAULT_GEN3' 폴더 내부 작업들
  - name: "100"
    folder: "RENAULT/GEN3"
    description: "Renault 100 Pipeline"
    log_rotator: { days_to_keep: 60, num_to_keep: 60 }
    webhook_token_id: "bhevs_renault_gen3_100"
    webhook_branch_regex: "^refs/tags/auto.*$"
    path_in_repo: "pipeline/renault/100.groovy"
    branch_parameters:
      - name: "renault_gen3_fbl"
        description: "renault_gen3_fbl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_odc_appl"
        description: "renault_gen3_odc_appl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_common"
        description: "renault_gen3_platform_common Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc"
        description: "renault_gen3_platform_wlc Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc_inc"
        description: "renault_gen3_platform_wlc_inc Repository에서 빌드할 브랜치를 선택하세요."

  - name: "400"
    folder: "RENAULT/GEN3"
    description: "Renault 400 Pipeline"
    log_rotator: { days_to_keep: 60, num_to_keep: 60 }
    webhook_token_id: "bhevs_renault_gen3_400"
    webhook_branch_regex: "^refs/tags/auto.*$"
    path_in_repo: "pipeline/renault/400.groovy"
    branch_parameters:
      - name: "renault_gen3_odc_appl"
        description: "renault_gen3_odc_appl Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_common"
        description: "renault_gen3_platform_common Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc"
        description: "renault_gen3_platform_wlc Repository에서 빌드할 브랜치를 선택하세요."
      - name: "renault_gen3_platform_wlc_inc"
        description: "renault_gen3_platform_wlc_inc Repository에서 빌드할 브랜치를 선택하세요."

  - name: "500"
    folder: "RENAULT/GEN3"
    description: "Renault 500 Pipeline"
    log_rotator: { days_to_keep: 60, num_to_keep: 60 }
    webhook_token_id: "bhevs_renault_gen3_500"
    webhook_branch_regex: "^refs/tags/auto.*$"
    path_in_repo: "pipeline/renault/500.groovy"
    branch_parameters:
      - name: "renault_gen3_appl"
        description: "renault_gen3_appl Repository에서 빌드할 브랜치를 선택하세요."
