# jenkins/setting/vars.yml
---
# Jenkins 서버 정보
jenkins_url: "https://192.168.37.239"
jenkins_temp_dir: "/tmp"
jenkins_cli_jar_file: "jenkins-cli.jar"
jenkins_credential_store: "system::system::jenkins"
jenkins_credential_domain: "_"

# pipeline repo
pipeline_scm_repo_url: "https://github.com/bhevs-dev/jenkins.git"
pipeline_scm_credentials_id: "github-credentials"
pipeline_scm_branch: "*/main"





# 플러그인 설치
jenkins_plugins_list:
    - role-strategy
    - generic-webhook-trigger
    - ssh-slaves
    - git-server
    - active-directory





# 인증서
credential_definitions:
  # secretText Types
  - id: "bhevs_renault_gen3_100"
    type: "secretText"
    cred_description: "Renault 100 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_100 }}"
  - id: "bhevs_renault_gen3_400"
    type: "secretText"
    cred_description: "Renault 400 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_400 }}"
  - id: "bhevs_renault_gen3_500"
    type: "secretText"
    cred_description: "Renault 500 Webhook Token"
    cred_secret: "{{ bhevs_renault_gen3_500 }}"

  # userPw Types
  - id: "fescaro_kms"
    type: "userPw"
    cred_description: "Fescaro KMS 계정"
    cred_username: "{{ fescaro_id }}"
    cred_password: "{{ fescaro_pw }}"
  - id: "github-credentials"
    type: "userPw"
    cred_description: "GitHub 계정"
    cred_username: "{{ github_id }}"
    cred_password: "{{ github_pw }}"
  - id: "smtp-credentials"
    type: "userPw"
    cred_description: "SMTP 메일 계정"
    cred_username: "{{ email_id }}"
    cred_password: "{{ email_pw }}"
  - id: "teamforge-choiseu"
    type: "userPw"
    cred_description: "TeamForge 계정"
    cred_username: "{{ teamforge_id }}"
    cred_password: "{{ teamforge_pw }}"
  - id: "windows-server-agnet"
    type: "userPw"
    cred_description: "Windows Server Agent 계정"
    cred_username: "{{ windows_server_id }}"
    cred_password: "{{ windows_server_pw }}"
  - id: "test"
    type: "userPw"
    cred_description: "테스트용"
    cred_username: "{{ email_id }}"
    cred_password: "{{ windows_server_pw }}"





# 젠킨스 아이템 - 폴더
jenkins_folder_template: "templates/items/folder.xml.j2"
jenkins_folder_definitions:
  - { name: "RENAULT_GEN3", description: "RENAULT_GEN3 Project Folder" }





# 젠킨스 아이템 - 작업(파이프라인)
jenkins_job_template: "templates/items/pipeline.xml.j2"
jenkins_job_definitions:
  # 'RENAULT_GEN3' 폴더 내부 작업들
  - {
    name: "test",
    folder: "RENAULT_GEN3",
    description: "Renault test Pipeline 2",
    log_rotator: { days_to_keep: 30, num_to_keep: 10 },
    webhook_token_id: "bhevs_renault_gen3_500",
    webhook_branch_regex: "^test-ansible$",
    path_in_repo: "pipeline/renault/test.groovy"
  }
  - {
    name: "100",
    folder: "RENAULT_GEN3",
    description: "Renault 100 Pipeline",
    log_rotator: { days_to_keep: 60, num_to_keep: 60 },
    webhook_token_id: "bhevs_renault_gen3_100",
    webhook_branch_regex: "^renault_gen3_SWEET100_release$",
    path_in_repo: "pipeline/renault/100.groovy"
  }
  - {
    name: "400",
    folder: "RENAULT_GEN3",
    description: "Renault 400 Pipeline",
    log_rotator: { days_to_keep: 60, num_to_keep: 60 },
    webhook_token_id: "bhevs_renault_gen3_400",
    webhook_branch_regex: "^renault_gen3_SWEET400_release$",
    path_in_repo: "pipeline/renault/400.groovy"
  }
  - {
    name: "500",
    folder: "RENAULT_GEN3",
    description: "Renault 500 Pipeline",
    log_rotator: { days_to_keep: 60, num_to_keep: 60 },
    webhook_token_id: "bhevs_renault_gen3_500",
    webhook_branch_regex: "^renault_gen3_SWEET500_release$",
    path_in_repo: "pipeline/renault/500.groovy"
  }