# jenkins/setting/auth/vars.yml
---
# 템플릿 이름 정의
pa_role_template: "T_Project_Admin"
dev_role_template: "T_Developer"
view_role_template: "T_Viewer"

jenkins_item_role_templates:
  - name: "{{ pa_role_template }}"
    permissions:
      - com.cloudbees.plugins.credentials.CredentialsProvider.View
      - hudson.model.Item.Build
      - hudson.model.Item.Cancel
      - hudson.model.Item.Discover
      - hudson.model.Item.Read
      - hudson.model.Run.Replay
      - hudson.model.Run.Update
      - hudson.model.View.Configure
      - hudson.model.View.Create
      - hudson.model.View.Read
      - hudson.scm.SCM.Tag

  - name: "{{ dev_role_template }}"
    permissions:
      - hudson.model.Item.Build
      - hudson.model.Item.Cancel
      - hudson.model.Item.Read
      - hudson.model.Run.Replay
      - hudson.model.Run.Update
      - hudson.model.View.Read

  - name: "{{ view_role_template }}"
    permissions:
      - hudson.model.Item.Read
      - hudson.model.View.Read

# Global Roles 정의
jenkins_global_roles:
#  - name: "1.SuperAdmin"
#    permissions:
#      - hudson.model.Hudson.Administer

  - name: "2.SafeAdmin"
    permissions:
      - hudson.model.Hudson.Read
      - com.cloudbees.plugins.credentials.CredentialsProvider.View
      - hudson.model.Computer.Build
      - hudson.model.Computer.Configure
      - hudson.model.Computer.Connect
      - hudson.model.Computer.Create
      - hudson.model.Computer.Disconnect
      - hudson.model.Computer.Provision
      - hudson.model.Item.Build
      - hudson.model.Item.Cancel
      - hudson.model.Item.Read
      - hudson.model.Item.Workspace
      - hudson.model.Run.Replay
      - hudson.model.Run.Update
      - hudson.model.View.Configure
      - hudson.model.View.Create
      - hudson.model.View.Read
      - hudson.scm.SCM.Tag
      - jenkins.metrics.api.Metrics.HealthCheck
      - jenkins.metrics.api.Metrics.ThreadDump
      - jenkins.metrics.api.Metrics.View

  - name: "3.TeamLead"
    permissions:
      - hudson.model.Hudson.Read
      - hudson.model.Item.Build
      - hudson.model.Item.Cancel
      - hudson.model.Item.Read
      - hudson.model.Item.Workspace
      - hudson.model.Run.Replay
      - hudson.model.Run.Update
      - hudson.model.View.Read

  - name: "4.Authenticated"
    permissions:
      - hudson.model.Hudson.Read

# Item Roles
jenkins_item_roles:
  - name: "renault_dev"
    template: "{{ dev_role_template }}"
    pattern: "renault"

  - name: "renault_pa"
    template: "{{ pa_role_template }}"
    pattern: "renault"

  - name: "renault_view"
    template: "{{ view_role_template }}"
    pattern: "renault"

# Users & Assignments
jenkins_auth_users:
#  - username: "choiseu"
#    password: "{{ choiseu_pw }}"
#    global_roles:
#      - "1.SuperAdmin"

  - username: "renault_dev"
    password: "{{ renault_dev_pw }}"
    global_roles:
      - "4.Authenticated"
    item_roles:
      - "renault_dev"

  - username: "renault_pa"
    password: "{{ renault_pa_pw }}"
    global_roles:
      - "4.Authenticated"
    item_roles:
      - "renault_pa"

  - username: "renault_viewer"
    password: "{{ renault_viewer_pw }}"
    global_roles:
      - "4.Authenticated"
    item_roles:
      - "renault_view"