# nginx/tasks.yml
---
- name: SSL | Create a directory for certificates on the server
  ansible.builtin.file:
    path: "{{ certs_remote_dir }}"
    state: directory
    mode: '0755'
  tags:
    - nginx
    - ssl
    - setup

- name: SSL | Copy PFX file from local to server
  ansible.builtin.copy:
    src: "{{ pfx_local_path }}"
    dest: "{{ certs_remote_dir }}/cert.pfx"
    mode: '0600'
  tags:
    - nginx
    - ssl
    - setup

- name: SSL | Extract private key from PFX file
  ansible.builtin.shell:
    cmd: "openssl pkcs12 -in {{ certs_remote_dir }}/cert.pfx -nocerts -out {{ certs_remote_dir }}/jenkins.key -nodes -passin pass:{{ pfx_password }}"
  no_log: true
  changed_when: false
  tags:
    - nginx
    - ssl
    - setup

- name: SSL | Extract certificate from PFX file
  ansible.builtin.shell:
    cmd: "openssl pkcs12 -in {{ certs_remote_dir }}/cert.pfx -nokeys -out {{ certs_remote_dir }}/jenkins.crt -passin pass:{{ pfx_password }}"
  no_log: true
  changed_when: false
  tags:
    - nginx
    - ssl
    - setup

- name: Jenkins | Stop and remove the existing Jenkins container
  community.docker.docker_container:
    name: "{{ jenkins_container_name }}"
    state: absent
  tags:
    - nginx
    - jenkins
    - run

- name: Jenkins | Re-run Jenkins container for internal access only
  community.docker.docker_container:
    name: "{{ jenkins_container_name }}"
    image: "jenkins/jenkins:lts-jdk21"
    state: started
    restart_policy: unless-stopped
    expose:
      - "8080"
      - "50000"
    volumes:
      - "{{ jenkins_volume_name }}:/var/jenkins_home"
    networks:
      - name: "{{ jenkins_network_name }}"
    env:
      TZ: "Asia/Seoul"
  tags:
    - nginx
    - jenkins
    - run

- name: Nginx | Create configuration from template
  ansible.builtin.template:
    src: templates/nginx.conf.j2
    dest: "/tmp/nginx.conf"
  tags:
    - nginx
    - config
    - setup

- name: Nginx | Stop and remove existing Nginx container
  community.docker.docker_container:
    name: "{{ nginx_container_name }}"
    state: absent
  tags:
    - nginx
    - run
    - cleanup

- name: Nginx | Run Nginx reverse proxy container
  community.docker.docker_container:
    name: "{{ nginx_container_name }}"
    image: "nginx:latest"
    state: started
    restart_policy: unless-stopped
    ports:
      - "{{ jenkins_host_port_http }}:80"
      - "{{ jenkins_host_port_https }}:443"
      - "{{ jenkins_host_port_webhook | default('8081') }}:8081"
    volumes:
      - "/tmp/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "{{ certs_remote_dir }}:{{ certs_remote_dir }}:ro"
    networks:
      - name: "{{ jenkins_network_name }}"
  tags:
    - nginx
    - run
    - container

- name: System | Display success message
  ansible.builtin.debug:
    msg: "SSL setup is complete. Access Jenkins at https://{{ jenkins_domain }}"
  tags:
    - nginx
    - debug
