[defaults]
inventory = hosts.ini
private_key_file = ~/.ssh/connect_jenkins
remote_user = bhevs-admin
host_key_checking = false
vault_password_file = .vault_pass_secrets

[privilege_escalation]
become = true
become_ask_pass = false
