---
- hosts: controller
  vars_files:
    - docker/vars.yml
    - jenkins/vars.yml
    - nexus/vars.yml
    - nginx/vars.yml
    # secret files
    - nginx/secrets.yml
    - jenkins/setting/secrets.yml

  tasks:
    - import_tasks: docker/tasks.yml
    - import_tasks: jenkins/tasks.yml
    - import_tasks: nexus/tasks.yml
    - import_tasks: nginx/tasks.yml


- hosts: local
  vars_files:
    - jenkins/setting/vars.yml
    - jenkins/setting/secrets.yml

  tasks:
    - import_tasks: jenkins/setting/tasks.yml

  handlers:
    - name: Restart Jenkins
      listen: "Restart Jenkins"
      community.docker.docker_container:
        name: bhevs-jenkins
        state: started
        restart: true
      delegate_to: 192.168.37.239
      become: false